USE [master];
GO

-- Create the database 
IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'Product_Inventory')
BEGIN
    CREATE DATABASE [Product_Inventory];
END
GO

USE [Product_Inventory];
GO

-- 1. Create Tables
IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'Categories')
BEGIN
    CREATE TABLE Categories (
        CategoryId INT PRIMARY KEY IDENTITY,
        Name NVARCHAR(100) NOT NULL
    );
END

IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'Suppliers') 
BEGIN
	create table Suppliers (
		SupplierId int primary key identity,
		CompanyName nvarchar(150) not null,
		ContactName nvarchar(100),
		Phone nvarchar(20),
		Email nvarchar(100)
	)
END
GO

IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'Products')
BEGIN
    CREATE TABLE Products (
        ProductId INT PRIMARY KEY IDENTITY,
		SupplierId int foreign key references Suppliers(SupplierId),
        Name NVARCHAR(200) NOT NULL,
        CategoryId INT FOREIGN KEY REFERENCES Categories(CategoryId),
        Quantity INT NOT NULL DEFAULT 0,
        Price DECIMAL(10,2) NOT NULL,
		CostPrice decimal(10, 2) default 0
    );
END
GO

IF NOT EXISTS (SELECT * FROM sys.tables WHERE name = 'InventoryTransactions')
BEGIN
	CREATE TABLE InventoryTransactions (
		TransactionId INT IDENTITY PRIMARY KEY,
		ProductId INT FOREIGN KEY REFERENCES Products(ProductId),
		SuplierId INT FOREIGN KEY REFERENCES Suppliers(SupplierId),
		TransactionType VARCHAR(50),
		Quantity INT,
		Amount DECIMAL(10, 2),
		TransactionDate DATETIME DEFAULT GETDATE()
	)
END
GO


-- 2. Seed Initial Data
IF NOT EXISTS (SELECT * FROM Categories)
BEGIN
    INSERT INTO Categories (Name) VALUES ('Electronics'), ('Home'), ('Stationery');
END
GO

-- 3. Stored Procedures 

-- GET ALL
CREATE OR ALTER PROCEDURE sp_GetAllProducts
AS
BEGIN
    SELECT 
	p.ProductId, 
	p.Name AS ProductName, 
	p.CategoryId, 
	c.Name AS Category, 
	p.Quantity, 
	p.Price AS ProductPrice,
	p.CostPrice,
	s.CompanyName as SupplierCompanyName,
	p.SupplierId
    FROM Products p
    INNER JOIN Categories c ON p.CategoryId = c.CategoryId
	left join Suppliers s on p.SupplierId = s.SupplierId;
END;
GO


-- SEARCH
CREATE OR ALTER PROCEDURE sp_SearchProducts 
    @Keyword NVARCHAR(100)
AS
BEGIN
    SELECT 
        p.ProductId, 
        p.Name AS ProductName, 
        p.CategoryId, 
        c.Name AS Category, 
        p.Quantity, 
        p.Price AS ProductPrice,
        p.CostPrice,                          
        s.CompanyName as SupplierCompanyName, 
        p.SupplierId                          
    FROM Products p
    INNER JOIN Categories c ON p.CategoryId = c.CategoryId
    LEFT JOIN Suppliers s ON p.SupplierId = s.SupplierId 
    WHERE p.Name LIKE '%' + @Keyword + '%'
       OR p.ProductId LIKE '%' + @Keyword + '%';              
END;
GO

-- UPSERT
Create or alter procedure sp_UpsertProduct
	@id int, 
	@name nvarchar(200), 
	@catId int, 
	@qty int, 
	@price decimal(10, 2), 
	@costPrice decimal(10, 2),
	@supplierId int
as
begin
	Set nocount on

	begin transaction;
	begin try
		if @id = 0
			insert into Products (Name, CategoryId, Quantity, Price, CostPrice, SupplierId)
			values (@name, @catId, @qty, @price, @costPrice, @supplierId);
		else
			update Products
			set Name = @name, CategoryId = @catId, Quantity = @qty, 
				Price = @price, CostPrice = @costPrice, SupplierId = @supplierId 
			where ProductId = @id;

		commit transaction;
	end try
	begin catch
		if @@TRANCOUNT > 0 Rollback transaction;

		declare @ErrorMessage nvarchar(4000) = error_message();
		raiserror(@ErrorMessage, 16, 1);
	end catch
end;
go

-- DELETE
create or alter procedure sp_DeleteProduct @productId int
as
begin
	set nocount on;

	begin transaction;
	begin try
		delete from Products where ProductId = @productId;

		commit transaction;
	end try
	begin catch
		if @@TRANCOUNT > 0 rollback transaction;

		declare @ErrorMessage nvarchar(4000) = error_message();
		raiserror(@ErrorMessage, 16, 1);
	end catch
end;
go

-- GET CATEGORIES 
CREATE OR ALTER PROCEDURE sp_GetCategories
AS
BEGIN
    SELECT CategoryId, Name FROM Categories;
END;
GO


-- UPSERT Supplier
Create or alter procedure sp_UsertSupplier
	@supplierId int, 
	@companyName nvarchar(150), 
	@contactName nvarchar(100), 
	@phone nvarchar(20), 
	@email nvarchar(100) 
as
begin
	Set nocount on

	begin transaction;
	begin try
		if @supplierId = 0
			insert into Suppliers (companyName, ContactName, Phone, Email) 
			values (@companyName, @contactName, @phone, @email);
		else
			update Suppliers
			set CompanyName = @companyName, ContactName = @contactName, Phone = @phone, Email = @email
			where SupplierId = @supplierId;

		commit transaction;
	end try
	begin catch
		if @@TRANCOUNT > 0 Rollback transaction;

		declare @ErrorMessage nvarchar(4000) = error_message();
		raiserror(@ErrorMessage, 16, 1);
	end catch
end;
go


-- DELETE Supplier
create or alter procedure sp_DeleteSupplier @supplierId int
as
begin
	set nocount on;

	begin transaction;
	begin try
		delete from Suppliers where SupplierId = @supplierId;

		commit transaction;
	end try
	begin catch
		if @@TRANCOUNT > 0 rollback transaction;

		declare @ErrorMessage nvarchar(4000) = error_message();
		raiserror(@ErrorMessage, 16, 1);
	end catch
end;
go

-- ADD, log transactions(update qty, make sales)
CREATE OR ALTER PROCEDURE sp_MakeTransaction
	@productId INT,
	@SupplierId INT,
	@transactionType VARCHAR(50),
	@qty INT,
	@Amount DECIMAL(10, 2),
	@Profit DECIMAL(10, 2)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @CurrentStock INT;
        SELECT @CurrentStock = Quantity FROM Products WHERE ProductId = @productId;
        
        IF (@CurrentStock + @qty < 0)
        BEGIN
            THROW 50001, 'Transaction Failed: Insufficient stock level. Cannot drop below zero.', 1;
        END

        INSERT INTO InventoryTransactions(ProductId, SupplierId, TransactionType, Quantity, Amount, Profit)
        VALUES (@productId, @SupplierId, @transactionType, @qty, @Amount, @Profit);

        UPDATE Products 
        SET Quantity += @qty 
        WHERE ProductId = @productId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        THROW; 
    END CATCH
END
GO


-- GET Suppliers
CREATE OR ALTER PROCEDURE sp_GetSuppliers
AS
BEGIN
    SELECT * FROM Suppliers;
END;
GO


-- SEARCH Suppliers
CREATE OR ALTER PROCEDURE sp_SearchSuppliers @Keyword NVARCHAR(100)
AS
BEGIN
    SELECT *
    FROM Suppliers 
    WHERE Suppliers.CompanyName LIKE '%' + @Keyword + '%';
END;
GO


--GET ALL Transactions
CREATE OR ALTER PROCEDURE sp_GetAllTransactions
AS
BEGIN
    SELECT 
        i.TransactionId,
        i.ProductId,
		i.SupplierId,
        p.Name AS ProductName, 
        i.Quantity,
        i.TransactionType,
        i.Amount,
        s.CompanyName AS SupplierName,
        i.TransactionDate,
		i.Profit
    FROM InventoryTransactions i
    LEFT JOIN Products p ON p.ProductId = i.ProductId
    LEFT JOIN Suppliers s ON s.SupplierId = i.SupplierId
    ORDER BY i.TransactionDate DESC;
END;
GO


--Search Transactions
CREATE OR ALTER PROCEDURE sp_SearchTransactions
    @Keyword NVARCHAR(100)
AS
BEGIN
    SELECT 
        i.TransactionId,
        i.ProductId,
		i.SupplierId,
        p.Name AS ProductName,
        i.Quantity,
        i.TransactionType,
        i.Amount,
        s.CompanyName AS SupplierName,
        i.TransactionDate,
		i.Profit
    FROM InventoryTransactions i
    LEFT JOIN Products p ON p.ProductId = i.ProductId
    LEFT JOIN Suppliers s ON s.SupplierId = i.SupplierId
    WHERE s.CompanyName LIKE '%' + @Keyword + '%' 
       OR i.TransactionType LIKE '%' + @Keyword + '%'
    ORDER BY i.TransactionDate DESC;
END;
GO