node_modules/
.expo/
.env
.env.*
!.env.example

android/.gradle/
android/build/
android/app/build/
android/.cxx/
android/app/.cxx/

ios/Pods/
ios/build/
ios/.xcode.env.local

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store

/android
/ios
